button {
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

table, tr, td {
    padding: 0;
    margin: 0;
    border-spacing: 0;
}

td {
    border-top: solid 3px white;
    border-left: solid 3px white;
    border-bottom: solid 3px darkgray;
    border-right: solid 3px darkgray;
    background-color: lightgray;
}

.buttonText {
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    font-style: normal;
    visibility: hidden;
}